<p/>
<div class="alert alert-block">
	        <a class="close">×</a>
			<div>
				<ul>
				<% current_user.assigned_tasks.paginate(page: 1, per_page: 5) do |task| %>
					<li>
						<div class="name"><%= task.name %></div>
						<div class="date"><%= format_datetime(task.due_time) %></div>
					</li>
				<% end %>
				</ul>
			</div>
</div>